<div class="page-header">
  <div class="container">
    <h1>Router Sample</h1>
    <div class="navLinks">
      <a [routerLink]="['/home']">Home</a>
      <br/>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
      <li *ngIf="authority === 'student'" class="nav-item">
        <a class="nav-link" routerLink="student">Student Page</a>
      </li>
      <li *ngIf="authority === 'teacher'" class="nav-item">
        <a class="nav-link" routerLink="teacher">Teacher Page</a>
      </li>
      <li *ngIf="authority === 'teacher'" class="nav-item">
        <a class="nav-link" routerLink="teacher/subjects">Your subjects</a>
      </li>
      <li *ngIf="!authority" class="nav-item">
        <a class="nav-link" routerLink="auth/login">Login</a>
      </li>
    </ul>
  </div>
</nav>

<div id="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

