<h2>Task Details</h2>
<div *ngIf="task">
  <p><strong>Name:</strong> {{ task.name }}</p>
  <p><strong>Description:</strong> {{ task.description }}</p>
  <p><strong>Deadline:</strong> {{ task.deadline | date }}</p>
  <h4>Students:</h4>
  <ul>
    <li *ngFor="let grade of task.studentGrades">
      <div *ngIf="grade.value">
        <strong>{{ grade.email }}:</strong> {{ grade.value }}
      </div>
      <div *ngIf="!grade.value">
        <strong>{{ grade.email }}:</strong>
        <label for="grade">Grade</label>
        <input type="text" id="grade" name="grade" required #newGrade>
        <button (click)="giveGrade(newGrade.value, grade?.id)">Add</button>
      </div>
    </li>
  </ul>
</div>


